include "input.kdl"
include "display.kdl"
include "layout.kdl"
include "rules.kdl"
include "blur.kdl"
include "settings.kdl"
include "binds.kdl"
include "gestures.kdl"

spawn-at-startup "xwayland-satellite"
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"


include optional=true "colors.kdl"
